.title-container {
    margin-top: 40px;
    margin-bottom: 24px;
}

.app-title {
    font-size: 36px;
    color: #ff9800;
    margin-bottom: 10px;
}

.content .app-subtitle {
    font-size: 22px;
    color: #fff;
    font-weight: 300;
}

.overlay {
    margin-top: 30px;
}

@media (max-width: 800px) {
    .title-container {
        margin-top: 20px;
        margin-bottom: 12px;
    }
    .app-title {
        font-size: 24px;
    }
    .content .app-subtitle {
        font-size: 16px;
    }
    .overlay {
        margin-top: 16px;
    }
}

@media (max-width: 500px) {
    .app-title {
        font-size: 18px;
    }
    .content .app-subtitle {
        font-size: 13px;
    }
}